{% assign products_per_row = settings.collections_products_per_row %}
{% assign rows = settings.collections_rows %}
{% assign total_products = products_per_row | times: rows %}

{% paginate collection.products by total_products %}

<div class="section-header section-header--breadcrumb">
  {% include 'breadcrumb' %}
</div>

<!-- <header class="section-header section-header--large">
  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1> -->
<!--   {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium-down--one-half' %}
{% endunless %} -->

{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<!-- <div class="grid__item {{grid_item_width}}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <a href="{{ product.url | within: collection }}" class="grid-link text-center">
    <span class="grid-link__image grid-link__image--product">
      {% if on_sale and settings.collections_show_sale_circle %}
        <span class="badge badge--sale">
          <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
      {% endif %}
      {% if sold_out and settings.collections_show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
      <span class="grid-link__image-centered">
        <img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
      </span>
    </span>
    <p class="grid-link__title">{{ product.title }}</p>
    {% comment %}
      <p class="grid-link__title grid-link__vendor">{{ product.vendor }}</p>
    {% endcomment %}
    <p class="grid-link__meta">
      {% capture price %}{{ product.price | money }}{% endcapture %}
      {% if on_sale %}
      <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
      {% endif %}
      {% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}
    </p>
  </a>
</div> -->

<!--     {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header> -->

</div>
</header>

{% if collection.description != blank %}
  <div class="rte rte--header">
    {{ collection.description }}
  </div>
  <hr class="hr--clear hr--small">

<!-- start search product tag -->

<div class="grid__item large--one-half left" style="padding-left:0;">
  {% include 'search-bar' with 'product' %}
</div>

<!-- end search product tag -->

<!-- start sort by tag -->

<div class="clearfix filter grid__item large--one-half right" style="padding-left:0;">
<!--   <p>Browse by tag:</p> -->
  <select class="coll-filter">
    <option value="">Browse by tag:</option>
    <option value="">All</option>
    {% for tag in collection.all_tags %}
    {% if current_tags contains tag %}
    <option value="{{ tag | handle }}" selected>{{ tag }}</option>
    {% else %}
    <option value="{{ tag | handle }}">{{ tag }}</option>
    {% endif %}
    {% endfor %}
  </select>
</div>

<script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
</script>





<!-- end sort by tag -->

{% endif %}

{% case products_per_row %}
  {% when '2' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-half' %}
  {% when '3' %}
    {% assign grid_item_width = 'small--one-half medium--one-third large--one-third' %}
  {% when '4' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-quarter' %}
  {% when '5' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-fifth' %}
{% endcase %}

<div class="grid-uniform grid-link__container">

  {% for product in collection.products %}

    {% include 'product-grid-item' %} 

  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}

  {% endfor %}

</div>

{% if paginate.pages > 1 %}
  <hr class="hr--clear">

  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}

{% endpaginate %}
